.example-container {
    width: 100vw;
    height: 100vh;
}

.example-sidenav-content {
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(134, 11, 11, 0.911);
    font-weight: 600;
    font-size: large;
    color: rgb(240, 248, 255);
    padding: 10px;
    padding-right: 10%;
}
.btnmenu{
    color: rgb(255, 255, 255);
}
.btnmenu:hover{
    color: rgb(183, 0, 255);
}
.example-sidenav {
    min-width: 50vw;
    padding: 15px;
    font-size: xx-large;
    background-color:rgb(136, 13, 4);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
.example-sidenav h3{
    font-weight: bold;
    font-size: xx-large;
    color: antiquewhite;
}
footer {
    background-color: rgba(134, 11, 11, 0.911);
    font-weight: 600;
    font-size: large;
    color: rgb(240, 248, 255);
    padding: 10px;
    text-align: center;
}

li{
    list-style: none;
    margin-top: 10px;
}

.btnClick{
    display: flex;
    flex-direction: row;
    align-items: center;
}
a{
    text-decoration: none;
    text-align: center;
    font-size: x-large;
    color: antiquewhite;
}
.btnLinks{
    margin-right: 15px;
}
@media screen and (max-width:500px) {
    .example-sidenav {
        min-width: 100vw;
    }
}