.corpo {
    width: 98vw;
    padding: 10px;
    overflow-x: hidden;
    text-align: justify;
}

.formNovoExame {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.alert {
    margin-top: 5px;
}

.btn {
    margin-bottom: 5px;
    margin-left: 5px;
}

.row {
    margin-top: 10px;
}



.tamanhoCelula {
    max-width: 20vw;
    height: 10vh;
    background-color: aquamarine;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}